body{
    background-color: #B2C9AD;
}

.skullybutton {
    height: 35px;
    position: fixed;
    top: 200px;
    right: 20px;
}



.skully {
    height: 40px;
    position: fixed;
    right: 65px;
    top: 150px;
}
.leaf {
    height: 300px;
    position: fixed;
    left: 0px;
    bottom: 0px;

}
.readmore {
    height: 35px;
    position: fixed;
    top: 250px;
    right: 20px;
}
.about {
    height: 10px;
    position: relative;
    top: -150px;
    left: 600px;
}
.lines {
    padding: 0px;
    height: 200px;
    position: relative;
    top: 350px;
    left: 54%;
}
.cicle {
    padding: 0px;
    height: 50px;
    position: fixed;
    top: 40%;
    left: 50%;
}

.falls {
    padding: 0px;
    height: 40px;
    position: relative;
    top: 40px;
    left: -10%;
}

.circle_button {
    padding: 0px;
    height: 50px;
    position: relative;
    top: 380px;
    left: 160px;
}

.splash {
    position: fixed;
    bottom: 0px;
    left: 30px;
    height: 300px;
    
}