body {
    background-color: #d0e2c8;
    margin: 0px;
    height: 100vh;
   width: calc(100% - 25px);
    
}

@font-face {
    font-family: Arial;
    src: url(ARLRDBD.ttf);
}
@font-face {
    font-family: BrownSugar;
    src: url(BrownSugar.ttf);
}
@font-face {
    src: url(AGENCYR.ttf);
    font-family: Agency;
}

.strip {
    background-color: #ffffff;
    height: 40px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: .5px solid white; */
}

.strip i {
    display: none;
}.strip h1 {
    font-family: BrownSugar;
    font-size: 1vw;
    padding-left: 20px;
    
}
.strip2 {
    display: flex;
    gap: 30px;
    font-family: sans-serif;
    padding-right: 4vw;
    
}


.strip2 h4 {
    font-weight: bold;
    font-size: .8vw;
    font-family: "Afacad Flux", serif;
}

.container {
    /* background-color: red; */
    display: flex;
    height: 50%;
    width: calc(100% - 30px);
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    
}




.circle {
    position: absolute;
    background-color: white;  
    height: 100px;
    width: 100px;
    transform: translate(-80%);
    border-radius:50%;
    z-index: 1;

}
.circle:active {
    background-color: black;
}

.smallball {
    background-color: black;
    position: relative;
    height:1vmin;
    width: 1vmin;
    top: 13%;
    left: -19%;
    border-radius: 50%;
    z-index: 1;
}

.container h2 {
    /* background-color: red; */
    font-family: "Afacad Flux", serif;
    color: #4B5945;
    font-size: 4vh;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 50vw;
    top: 30%;
    left: 40%;
    z-index: 1;

}
.container span {
    color: white;
}
.down p {
    position: absolute;
    /* background-color: red; */
    height: 40%;
    width: 80%;
    top: 45%;
    left: 14.5%;
    font-size: 2vh;
    font-family: "Afacad Flux", serif;
    z-index: 1;
    

}

.about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #91AC8F;
    height: 30%;
    width: 100vw;
    font-weight: bold;
    justify-content: space-between;
}

.about img {
    position: absolute;
    height: 200%;
    top: -20vh;
}
.about p {
    position: absolute;
    right: 10px;
    font-family: "Afacad Flux";
    font-size: 2vh;
    width: 40%;
    padding-right: 6vw;
    
}


/* .search {

    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 4vmax;
    height: 4vmax;
    width: 70vw;
    position: absolute;
    justify-content: center;
    bottom: 1vh;
    left: 50%;   
    box-shadow: 0px 0px black;
    cursor: pointer;
} */

@media (min-width: 600px) {
    .container h2 {
        /* background-color: blue; */
        top: 20%;
        left: 64%;
        font-size: 3.2vh;
        height: 10vh;
        width: 90vw;
    }
    .circle {
        top: 10%;
        left: 25%;
    }

}
@media (max-width: 600px) {
    .strip h1{
        font-size: 4vw;
    }
    .strip h4 {
        display: none;
    }
    .strip i {
        display: flex;
    }
    .container h2 {
        top: 25%;
        left: 67%;
        font-size: 2.2vh;
        height: 10vh;
        width: 90vw;
    }
    .circle {
        transform: translate(-50%);
        top: 10%;
        left: 25%;
    }
    .container {
        height: 50%;
        
    }
    .down p {
        font-size: 1vh;
        top: 40%;
        left: 15%;
        height: 15vh;
        width: 70vw;
    }

    .smallball {
        top: -10%;
        left: -35%;
    }
    .about p {
        font-size: 1.3vh;
    }
    .about img {
        top: -20%;
        left: -10%;
        height: 100%;
    }
}
