body{
    background-color: #B2C9AD;
}

.clicksmall {
    height: 80px;
    position: fixed;
    top: 85%;
    right: 20px;
}
.skullybutton {
    height: 80px;
    position: fixed;
    top: 75%;
    right: 20px;
}

.readmore {
    height: 80px;
    position: fixed;
    top: 80%;
    right: 20px;
}


.skully {
    height: 140px;
    position: fixed;
    right: 100px;
    top: 50%;
}
.leaf {
    height: 300px;
    position: fixed;
    left: 0px;
    bottom: 0px;

}

.about {
    height: 10px;
    position: fixed;
    top: 1%;
    left: 43%;
}
.lines {
    padding: 0px;
    height: 200px;
    position: fixed;
    top: 55%;
    left: 35%;
}
.cicle {
    padding: 0px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 30%;
    translate: -50% -50%;
}

.falls {
    padding: 0px;
    height: 150px;
    position: fixed;
    top: 45%;
    left: 35%;
    translate: -50% -50%;
}

.circle_button {
    padding: 0px;
    height: 100px;
    position: fixed;
    top: 63%;
    left:77%;
    translate: -50% -50%;
}

.splash {
    position: fixed;
    bottom: 0px;
    left: 30px;
    height: 300px;
    
}
